.button {
  border: 0px solid transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 16px 32px;

  height: 56px;
  width: 328px;

  border-radius: 16px;
  cursor: pointer;

  font-weight: 600;
  line-height: 1;
  color: #ffffff;

  background: var(--color-primary);
}

.button:disabled {
  cursor: not-allowed;
  background: var(--color-primary-disabled);
}

.button:not(:disabled):hover {
  background: var(--color-primary-hover);
}

.button:not(:disabled):focus {
  background: var(--color-primary-focus);
}
